body {
    font-size: 10pt;
    color: navy;
}
tr {
    font-size: 2em;
}

h1 {
    color: #ffc;
    background-color: rgb(37, 179, 148);
}

textarea {
    color: white;
    background-color: black;
}
body {
    font-family: arial;
    font-size: 18px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}
p {
    letter-spacing: 0.3em;
    word-spacing: 1.5em;
    line-height: 1.5;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    background-color:lightblue;
    margin: 50px;
    padding: 80px;
}
h2 {
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
}
body {
    background-repeat: repeat;
    background-color: #fcfcfc;
    /* http://bg-patterns.com/?p=1695 */
    background-image: url("Riven.jpg");
    animation: background-move linear 10s infinite;
}
body {

    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    /*background-color: #ffc;*/
    margin: 20px;
    padding: 0px;
}

/* This is a comment, by the way */

p {
    line-height: 21px;
}

h1 {
    color: #ffc;
    background-color: rgb(0, 116, 170);
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: double;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
    border-top-style: dashed;
    border-left-style: ridge;
    border-right-style: groove;
    border-left-width: 0.5em;
    border-right-width: 0.5em;
    border-top-width: 0.2em;
    border-right-color: lightpink;
    border-left-color: lightseagreen;
    border-top-color: lightgreen;
}

h2 {
    color: white;
    background-color: #090;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: #999;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

ol {
    color: #900;
    font-style: italic;
}

table {
    background-color: #ccc;
}
#top {
    background-color: #ccc;
    padding: 20px
}

.intro {
    color: red;
    font-weight: bold;
}
@keyframes background-move {
    0% {
        background-position: 0 0;  
    }

    100% {
        background-position: 128px -148px;
    }
}