html{
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
}
*{
    position: relative;
    box-sizing: border-box;
}
nav {
    height: 5rem;
    width: 100%;
    z-index: 2;
    background:#000000cc;
    overflow: hidden;
    display: flex;
}
.logo {
    margin: 0 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
svg {
    position: absolute;
    z-index: 1;
    margin: auto;
    height: 5rem;
}
.logo h1{
    position: absolute;
    font-family: 'Black Ops One', cursive;
    font-size: 4.5rem;
    color: #000000CC;
    z-index: 2;
}
.navbar{
    margin: auto;
    margin-left: 0;
    display: flex;
    height: 80%;
    width: 70%;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    border-radius: 30px;
    padding: 0;
}
.navbar li{
    box-sizing: content-box;
    height: 4rem;
    width: 20%;
    display: flex;
    list-style: none;
    margin : auto;
    border-radius: 30px;
    align-items: center;
}
.navbar li a {
    margin : auto;
    font-size: 1.2em;
    color: #ffffff;
    text-decoration: none;
    z-index: 2;
    border-radius: 30px;
}

nav .animation{
    position: absolute;
    height: 100%;
    z-index: 0;
    background: rgb(0,0,0,0.3);
    border-radius: 30px;
}
#active{
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar li:hover{
    background-color: rgb(0,0,0,0.1);
}
body{
    margin: auto;
}
.bg {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100vh;
    background-color: #000000dc;
    z-index: 0;
}
main {
    display: flex;
    justify-content: center;
}
section {
    height: 100%;
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2em;

}
.skill {
    height: 12em;
    width: 12em;
    margin: 6em;
    background: white;
    text-align: center;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    box-shadow: 8px 5px rgba(0, 0, 0, 0.164);
    background-color:#59627540;
}
.skill > .items {
    font-size: 1.5em;
    color:white;
    display: block;
    margin: auto;
    text-decoration: none;
}
footer {
    height: 8rem;
    margin: 0;
    width: 100%;
    background-color: #000000cc;
}
.contact ul {
display: flex;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.contact ul li {
list-style: none;
}

.contact ul li a {
width: 16rem;
height: 16rem;
background-color: rgba(0, 0, 0, 0);
text-align: center;
line-height: 80px;
font-size: 6em;
margin: 0 60px;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
border-radius: 20%;
position: relative;
overflow: hidden;
border: 3px solid rgba(0, 0, 0, 0.25);
z-index: 1;
}

.contact ul li a .icon {
position: relative;
color: #00000050;
transition: .35s 0.15s;
z-index: 3;
}

.contact ul li a:hover .icon {
color: rgb(255, 255, 255);
transform: rotateX(360deg);
}

.contact ul li a:before {
content: "";
position: absolute;
bottom: 100%;
left: 0;
width: 100%;
height: 100%;
background: #f00;
transition: .5s;
z-index: 2;
}

.contact ul li a:hover:before {
bottom: 0;
}

.contact ul li:nth-child(1) a:before{
background: #3b5999;
}

.contact ul li:nth-child(2) a:before{
background: #55acee;
}

.contact ul li:nth-child(3) a:before {
background: #0077b5;
}

.contact ul li:nth-child(4) a:before {
background: #dd4b39;
}