html{
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
}
*{
    position: relative;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
nav {
    height: 5rem;
    width: 100%;
    z-index: 2;
    background:#000000cc;
    display: flex;
}
.logo {
    margin: 0 7.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
svg {
    position: absolute;
    z-index: 1;
    margin: auto;
    height: 5rem;
    width: 5rem;
}
.logo h1{
    position: absolute;
    font-family: 'Black Ops One', cursive;
    font-size: 4.5rem;
    color: #000000CC;
    z-index: 2;
    margin: auto;
}
.navbar{
    margin: auto;
    margin-left: 0;
    display: flex;
    height: 80%;
    width: 70%;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    border-radius: 30px;
    padding: 0;
}
.navbar li{
    box-sizing: content-box;
    height: 4rem;
    width: 20%;
    display: flex;
    list-style: none;
    margin : auto;
    z-index: 2;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
.navbar li a {
    margin : 0px;
    font-size: 1.2em;
    color: #808596;
    
    z-index: 3;
    border-radius: 30px;
}

nav .animation{
    position: absolute;
    height: 100%;
    z-index: 0;
    background: rgb(0,0,0,0.3);
    border-radius: 30px;
    transition:left 0.3s ease-in-out;
}
#active > a{
    color:#c4c9d4;
    transform: translate(1px, 1px);
}
.navbar li:nth-child(1):hover~.animation{
    width: 20%;
    left: 0%;
}
.navbar li:nth-child(2):hover~.animation{
    width: 20%;
    left: 20%;
}
.navbar li:nth-child(3):hover~.animation{
    width: 20%;
    left: 40%;
}
.navbar li:nth-child(4):hover~.animation{
    width: 20%;
    left: 60%;
}
.navbar li:nth-child(5):hover~.animation{
    width: 20%;
    left: 80%;
}
#check {
    display: none;
}
.burger {
    margin: auto;
    display: none;
    position: absolute;
    right: 15%;
    top: 1.5rem;
}
.burger div{
    width: 25px;
    height: 5px;
    margin: 5px;
    border-radius: 20%;
    background-color: rgb(255, 255, 255);
}
body{
    margin: auto;
}
.bg {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #000000cc;
}
main {
    display: flex;
    justify-items: center;
}
section {
    background:rgba(0,0,0,0.2);
    margin: auto;
    width: 70%;
    top: 0.5vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 2%;
}

.index-container {
    background: linear-gradient(#00091f 50%,#00103a 100%);
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.star {
    position: absolute;
    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px #699bff);
    animation: tail 2s ease-in-out infinite, shooting 2s ease-in-out infinite;
}
.star::before, .star::after {
    position: absolute;
    content: "";
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5191ff, 
    rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotate(45deg);
    animation: shining 2s ease-in-out infinite;
}
.star::after {
    transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
    top: 0;
    left: calc(50% - -700px);
    animation-delay: .65s;
}
.star:nth-child(1)::before, .star:nth-child(1)::after {
    animation-delay: .65s;
}
.star:nth-child(2) {
    top: 0;
    left: calc(50% - 900px);
    animation-delay: .15s;
}
.star:nth-child(2)::before, .star:nth-child(2)::after {
    animation-delay: .15s;
}
.star:nth-child(3) {
    top: 0;
    left: calc(50% - 1500px);
    animation-delay: 1.6s;
}
.star:nth-child(3)::before, .star:nth-child(3)::after {
    animation-delay: 1.6s;
}
.star:nth-child(4) {
    top: 0;
    left: calc(50% - 250px);
    animation-delay: 4.7s;
}
.star:nth-child(4)::before, .star:nth-child(4)::after {
    animation-delay: 4.7s;
}
.star:nth-child(5) {
    top: 0;
    left: calc(50% - 400px);
    animation-delay: 2.1s;
}
.star:nth-child(5)::before, .star:nth-child(5)::after {
    animation-delay: 2.1s;
}
.star:nth-child(6) {
    top: 0;
    left: calc(50% - 80px);
    animation-delay: 3.3s;
}
.star:nth-child(6)::before, .star:nth-child(6)::after {
    animation-delay: 3.3s;
}
.star:nth-child(7) {
    top: 0;
    left: calc(50% - -300px);
    animation-delay: 1.1s;
}
.star:nth-child(7)::before, .star:nth-child(7)::after {
    animation-delay: 1.1s;
}
@keyframes tail {
    from {
        width: 0;
    }
    30% {
        width: 100px;
    }
    to {
        width: 0;
    }
}

@keyframes shining {
    from {
        width: 0;
    }
    50% {
        width: 30px;
    }
    to {
        width: 0;
    }
}
@keyframes shooting {
    from {
        transform: translateX(0) translateY(0) rotateZ(45deg);
    }
    to {
        transform: translateX(80vh) translateY(80vh) rotateZ(45deg);
    }
}
.about {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns:1fr 1fr;
}
.about div {
    margin: auto;
    display: flex;
    background: #1c1c1e;
    z-index: 1;
    overflow: hidden;
}
#profile {
    width: 20vh;
    height: 20vh;
    top: 3vh;
    border-radius: 100%;
    background: no-repeat center/110% url(profile.png);
    animation: profile 2s ease-in-out both 0.5s;
}
#school { 
    flex-direction: column;
    text-align: center;
    top: 3vh;
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    animation: school 2s ease-in-out forwards 0.5s;
}
#school li {
    margin: auto;
    list-style:none;
    animation: li 1s ease-in-out both 2.5s;
}
#interest {
    grid-column: 1/3;
    height: 14vh;
    width: 60vh;
    border-radius: 100px;
    overflow: hidden;
    animation: interest 2s ease-in-out forwards 0.5s;
}
#interest img {
    box-sizing: content-box;
    overflow: hidden;
    margin: auto;
    bottom: 13vh;
    width:10vh;
    animation: img 1s ease-in-out both 1.2s;
}
@keyframes li {
    from{
        font-size: 0;;
        color: #1c1c1e;
    }
    to{
        font-size: 0.5em;
        color:  #ffffff;
    }
}
@keyframes img {
    from{
        bottom: 13vh;
    }
    15%{
        bottom: 0;
    }
    30%{
        bottom: 4vh;
    }
    50%{
        bottom: 0;
    }
    60%{
        bottom: 2vh;
    }
    70%{
        bottom: 0;
    }
    75%{
        bottom: 0.5vh;
    }
    to{
        bottom: 0vh;
    }
}
@keyframes profile {
    from {
        left: 0;
        background: #1c1c1e no-repeat center/110%;
    }
    30% {
        top: 0vh;
    }
    35% {
        top: 3vh;
    }
    57% {
        top: 3vh;
        left: 0;
        transform: scale(1);
        background: no-repeat center/110% url(profile.png);
        background-color:#1c1c1e;
    }
    to {
        top: -8vh;
        left: -14vh;
        transform: scale(2);
        background: no-repeat center/110% url(profile.png);
        background-color:#1c1c1e;
    }
}
@keyframes school {
    from {
        left: 0;
    }
    30% {
        top: 0vh;
    }
    35% {
        top: 3vh;
    }
    47% {
        top: 3vh;
        left: 0;
        transform: scale(1);
        border-radius: 100%;
        width: 20vh;
    }
    to {
        top: 0vh;
        width: 30vh;
        transform: scale(2);
        border-radius: 20%;
    }
}
@keyframes interest {
    from {
        left: 0;
        top: 0vh;
    }
    30% {
        top: -3vh;
    }
    35% {
        top: 0vh;
    }
    47% {
        top: 0vh;
        left: 0;
        height: 14vh;
        width: 60vh;
    }
    to {
        height: 15vh;
        width: 80vh;
    }
}
.about a {
    box-sizing: content-box;
    margin: auto;
    
    color: rgb(0, 0, 0);
}
.ski {
    display: flex;
    height: 100%;
    width: 100%;
}
.skills {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.skill {
    height: 14em;
    width: 14em;
    margin: 5em;
    text-align: center;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color:#0000004b;
    border: 3px solid rgba(255, 255, 255, 0.4);
    box-shadow: 8px 5px rgba(0, 0, 0, 0.164);
    
}
.skill > .items {
    font-size: 2em;
    color:white;
    display: block;
    margin: auto;
}
#js:hover{
    background:linear-gradient(-70deg,#e5a227 30%,#f1bf25 40%,#e5a227 50%) ;
}
#html:hover{
    background:linear-gradient(-70deg,#de4013 30%,#f1672d 40%,#de4013 50%) ;
}
#css:hover{
    background:linear-gradient(-70deg,#0c73b8 30%,#31a8dc 40%,#0c73b8 50%) ;
}
#C:hover{
    background: linear-gradient(-45deg,#669ad3,#004481);
}
#py:hover{
    background: linear-gradient(-45deg,#ffe05c,#4381b3);
}
#maya:hover{
    background: linear-gradient(-45deg,#92c6cc,#068e8f);
}
#b3d:hover{
    background: radial-gradient(#215688 35%,#eb7700 40%);
}
#propage {
    height: 250vh;
    overflow: visible;
}
.pro-container {
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.products {
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
}
.product {
    height: 40vh;
    width: 40vh;
    margin: 10vh;
    border: solid 5px rgba(255, 255, 255, 0.87);
    border-radius: 15%;
    background: no-repeat center/180% url(Donut.png);
}
.products .two{
    background: no-repeat center/180% url(coffee.png);
}
.exp {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.exp ul{
    margin: auto;
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    
    padding: 0;
}
.exp .work {
    padding: 0;
    font-size: 2em;
    margin: auto;
    height: 3em;
    width: 100%;
    border: solid 3px rgba(0, 0, 0, 0.555);
    border-radius: 30px;
    text-align: center;
    line-height: 3em;
    transition: 0.5s;
    letter-spacing: 0px;
}
.work > a {
    color: white;
    z-index: 1;
    transition: 0.5s;
}
.exp li:nth-child(1)::before{
    content:"";
    position: absolute;
    margin: auto;
    display: block;
    top: 1.25em;
    left: 50%;
    border-radius: 5px;
    height: 0%;
    width: 0.5em;
    background: rgb(255, 0, 0);
}
.exp li:nth-child(1)::after{
    content:"";
    position: relative;
    display: block;
    bottom: 3em;
    margin: auto;
    border-radius: 30px;
    height: 100%;
    width: 0%;
    background: rgba(255, 255, 255, 0.295);
    transition: width 0.5s ease-in-out;
}
.exp li:nth-child(2)::after{
    content:"";
    position: relative;
    display: block;
    bottom: 3em;
    margin: auto;
    border-radius: 30px;
    height: 1em;
    background-color: white;
    border-top: 0.9em solid #c5ca0a;
    border-bottom: 0.9em solid #0589d6;
    width: 0%;
    transition: width 0.5s ease-in-out;
}
.exp li:nth-child(3)::after{
    content:"";
    position: relative;
    display: block;
    bottom: 3em;
    margin: auto;
    border-radius: 30px;
    height: 100%;
    width: 0%;
    background: rgba(255, 255, 255, 0.6);
    transition: width 0.5s ease-in-out;
}
.exp li:nth-child(4)::after{
    content:"";
    position: relative;
    display: block;
    bottom: 3em;
    margin: auto;
    border-bottom:0.4em solid #008bd5;
    border-top: 1em solid #009e41;
    border-radius: 30px;
    height: 50%;
    width: 0%;
    background: rgb(255, 255, 255);
    transition: width 0.5s ease-in-out;
}
.exp li:nth-child(1):hover > a{
    letter-spacing: 0.3em;
    color: black;
    font-weight: 900;
}
.exp li:nth-child(2):hover > a{
    letter-spacing: 2px;
    color: #204887;
    font-weight: 600;
}
.exp li:nth-child(3):hover > a{
    letter-spacing: 10px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
}
.exp li:nth-child(4):hover > a{
    letter-spacing: 2px;
    color: #008bd5;
    font-weight: 600;
}
.exp li:nth-child(1):hover::after{
    width: 100%;
    transition: width 0.4s ease-in-out;
}
.exp li:nth-child(1):hover::before{
    height: 0.5em;
    display: block;
    transition: height .4s ease-in-out 0.1s;
}
.exp li:nth-child(2):hover::after{
    width: 100%;
    transition: width 0.4s ease-in-out;
}
.exp li:nth-child(3):hover::after{
    width: 100%;
    transition: width 0.4s ease-in-out;
}
.exp li:nth-child(4):hover::after{
    width: 100%;
    transition: width 0.4s ease-in-out;
}
.contact {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact ul {
    padding: 0;
    width: 100%;
    display: flex;
    
}

.contact ul li {
    margin: auto;
    list-style: none;
}

.contact ul li a {
    width: 16rem;
    height: 16rem;
    background: transparent;
    text-align: center;
    line-height: 80px;
    font-size: 6em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 20%;
    position: relative;
    overflow: hidden;
    border: 3px solid #4b6584;
}

.contact ul li a .fab {
    color: #4b6584;
    transition: bottom .35s,color .35s .15s,transform .35s .15s;
}

.contact ul li a:hover .fab {
    color: rgb(255, 255, 255);
    transform: rotateX(360deg);
}
.contact ul li a:hover {
    transition: border .35s;
    border-color: rgba(0, 0, 0, 0.25);
}

.contact ul li a::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    transition: .5s;
}

.contact ul li a:hover::before {
    bottom: 0;
}

.contact ul li:nth-child(1) a::before{
    background: #3b5999;
}

.contact ul li:nth-child(2) a::before {
    background: radial-gradient(circle at 30% 107%, #FDF497 0%, #FDF397 5%,
    #FD5949 45%, #D6249F 60%, #285AEB 90%);
}
.contact ul li:nth-child(3) a::before{
    background: #55acee;
}

.contact ul li:nth-child(4) a::before {
    background: #0077b5;
}


footer {
    width: 100%;
    background-color: #262626;
    padding: 2.5em 0;
    color: #ffffff;
    overflow: hidden;
}

footer .container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    white-space:nowrap;
}

footer .container > p {
    font-size: 1.5em;
    font-weight: bold;
    margin: auto;
}
footer .copyright p {
    margin: auto;
    right: 10vh;
}
footer .copyright p a{
    color: white;
}

@media screen and (max-width: 2080px) {
    .skill {
        height: 10em;
        width: 10em;
        margin: 3em;
    }
    @keyframes profile {
        from {
            left: 0;
            background: #1c1c1e no-repeat center/110%;
        }
        30% {
            top: 0vh;
        }
        35% {
            top: 3vh;
        }
        57% {
            top: 3vh;
            left: 0;
            transform: scale(1);
            background: no-repeat center/110% url(profile.png);
            background-color:#1c1c1e;
        }
        to {
            top: -8vh;
            left: -14vh;
            transform: scale(1.5);
            background: no-repeat center/110% url(profile.png);
            background-color:#1c1c1e;
        }
    }
}
@media screen and (max-width: 1860px){
    @keyframes profile {
        from {
            left: 0;
            background: #1c1c1e no-repeat center/110%;
        }
        30% {
            top: 0vh;
        }
        35% {
            top: 3vh;
        }
        57% {
            top: 3vh;
            left: 0;
            transform: scale(1);
            background: no-repeat center/110% url(profile.png);
            background-color:#1c1c1e;
        }
        to {
            top: -8vh;
            left: -10vh;
            transform: scale(1.5);
            background: no-repeat center/110% url(profile.png);
            background-color:#1c1c1e;
        }
    }
    @keyframes school {
        from {
            left: 0;
        }
        30% {
            top: 0vh;
        }
        35% {
            top: 3vh;
        }
        47% {
            top: 3vh;
            left: 0;
            transform: scale(1);
            border-radius: 100%;
            width: 20vh;
        }
        to {
            top: 0vh;
            width: 30vh;
            transform: scale(1.5);
            border-radius: 20%;
        }
    }
    #propage {
        height: 180vh;
    }
    .product {
        width: 30vh;
        height: 30vh;
        margin: 5vh;
    }
}
@media screen and (max-width: 1670px) {

    @keyframes profile {
        from {
            left: 0;
            background: #1c1c1e no-repeat center/110%;
        }
        30% {
            top: 0vh;
        }
        35% {
            top: 3vh;
        }
        57% {
            top: 3vh;
            left: 0;
            transform: scale(1);
            background: no-repeat center/110% url(profile.png);
            background-color:#1c1c1e;
        }
        to {
            top: -8vh;
            left: -8vh;
            transform: scale(1.5);
            background: no-repeat center/110% url(profile.png);
            background-color:#1c1c1e;
        }
    }
    @keyframes interest {
        from {
            left: 0;
            top: 0vh;
        }
        30% {
            top: -3vh;
        }
        35% {
            top: 0vh;
        }
        47% {
            top: 0vh;
            left: 0;
            height: 14vh;
            width: 60vh;
        }
        to {
            width: 70vh;
        }
    }

}
@media screen and (max-width: 1500px) {
    .contact ul li {
        margin: auto;
    }
    .contact ul li a{
        height: 20vh;
        width: 20vh;
    }
    .skills{
        grid-template-columns: repeat(2,1fr);
    }
    .about {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    #profile {
        position: absolute;
        width: 20vh;
        height: 20vh;
        top: -2vh;
        left: -3vh;
        border-radius: 100%;
        background: no-repeat center/110% url(profile.png);
        animation: none;
    }
    #school { 
        flex-direction: column;
        text-align: center;
        top: 15vh;
        width: 20vh;
        height: 20vh;
        border-radius: 100%;
    }
    #school li {
        margin: auto;
        list-style:none;
        animation: li 1s ease-in-out both 2.5s;
    }
    #interest {
        height: 14vh;
        width: 40vh;
        border-radius: 100px;
        overflow: hidden;
        display: flex;
        animation: none;
    }
    
    #interest img {
        box-sizing: content-box;
        overflow: hidden;
        margin: auto;
        bottom: 13vh;
        width:10vh;
        animation: img 1s ease-in-out both 1.2s;
    }
    @keyframes school {
        from {
        }
        to {
            top: 15vh;
            width: 30vh;
            transform: scale(1.5);
            border-radius: 20%;
        }
    }

}
@media screen and (max-height: 1080px) {
    .contact ul {
        flex-direction: row;
    }
    .skills{
        grid-template-columns: repeat(4,1fr);
    }
    .skill{
        margin: 1.5em;
    }
    #school { 
        flex-direction: column;
        text-align: center;
        top: 15vh;
        width: 40vh;
        height: 30vh;
        border-radius: 100%;
    }
    @keyframes school {
        from {
        }
        to {
            top: 15vh;
            transform: scale(1.5);
            border-radius: 20%;
        }
    }
    #interest {
        height: 14vh;
        width: 60vh;
        border-radius: 100px;
        overflow: hidden;
        display: flex;
        animation: none;
    }
}
@media screen and (max-width: 1320px) {
    #propage {
        height: 160vh;
    }
    .products {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .product {
        border: 1px solid rgb(0, 0, 0, 0.3);
        border-radius: 0;
        margin: 0;
        height: 20vh;
        width: 100%;
        background: no-repeat center/contain url(Donut.png);
    }
    .products .two {
        background: no-repeat center/contain url(coffee.png);
    }
}
@media screen and (max-width: 1260px) {
    .skills {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .skill {
        width: 100%;
        border-radius: 0;
        margin: 0em;
        box-shadow: none;
        border: none;
    }

}
@media screen and (max-width: 1060px) {
    .about {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    #profile {
        position: absolute;
        width: 20vh;
        height: 20vh;
        top: -2vh;
        left: -3vh;
        border-radius: 100%;
        background: no-repeat center/110% url(profile.png);
        animation: none;
    }
}
@media screen and (max-width: 768px) {
    #interest {
        height: 14vh;
        width: 40vh;
        border-radius: 100px;
        overflow: hidden;
        display: flex;
        animation: none;
    }
    
    #interest img {
        box-sizing: content-box;
        overflow: hidden;
        margin: auto;
        bottom: 13vh;
        width:10vh;
        animation: img 1s ease-in-out both 1.2s;
    }
    #school { 
        flex-direction: column;
        text-align: center;
        top: 15vh;
        width: 20vh;
        height: 20vh;
        border-radius: 100%;
    }
    #school li {
        margin: auto;
        list-style:none;
        animation: li 1s ease-in-out both 2.5s;
    }
    .contact {
        height: 100%;
    }
    .contact ul{
        flex-direction: column;
        height: 100%;
    }
    .contact ul li {
        margin:0.7em 0;
    }
    .contact ul li a .fab {
        animation: ico 0.35s linear both 0.15s;
    }
    .contact ul li a {
        animation: bor 0.5s linear both;
    }
    .contact ul li a::before {
        animation: iback 0.5s linear both;
    }

    @keyframes ico {
        from{
            color: #4b6584;
            transform: rotateX(0);
        }
        to{
            color: rgb(255, 255, 255);
            transform: rotateX(360deg);
        }
    }
    @keyframes iback {
        from{
            bottom: 100%;
        }
        to{
            bottom: 0;
        }
    }
    @keyframes bor {
        from{
            border-color: #4b6584;
        }
        to{
            border-color:rgba(0, 0, 0, 0.25);
        }
    }
    #interest {
        height: 14vh;
        width: 30vh;
        border-radius: 100px;
        overflow: hidden;
        display: flex;
        animation: none;
    }
    #interest img {
        transform: scale(0.6);
    }
    @keyframes school {
        from {

        }
        to {
            width: 30vh;
            transform: scaleY(1.5);
            border-radius: 20%;
        }
    }
    .logo {
        width: 7rem;
        margin: auto;
    }
    .navbar {
        position: absolute;
        top: 5rem;
        right: 0px;
        width: 100%;
        height: 20em;
        background: #333333;
        border-radius: 0;
        flex-direction: column;
        display: none;
        z-index: 3;
    }
    .navbar li{
        height: 20%;
        width: 100%;        
    }
    .burger {
        margin: auto;
        display: block;
        position: absolute;
        right: 10%;
        top: 1.5rem;
    }
    nav .animation{
        position: absolute;
        height: 100%;
        z-index: 1;
        background: rgb(0,0,0,0.3);
        border-radius: 30px;
        transition:left 0.3s ease-in-out;
    }
    #active > a{
        color:#c4c9d4;
        transform: translate(1px, 1px);
    }
    .navbar li:nth-child(1):hover~.animation{
        left: 0;
        width: 100%;
        height: 10%;
        top: 5%;
    }
    .navbar li:nth-child(2):hover~.animation{
        left: 0;
        width: 100%;
        height: 10%;
        top: 25%;
    }
    .navbar li:nth-child(3):hover~.animation{
        left: 0;
        width: 100%;
        height: 10%;
        top: 45%;
    }
    .navbar li:nth-child(4):hover~.animation{
        left: 0;
        width: 100%;
        height: 10%;
        top: 65%;
    }
    .navbar li:nth-child(5):hover~.animation{
        left: 0;
        width: 100%;
        height: 10%;
        top: 85%;
    }
    #check:checked~.navbar{
        display: flex;
    }
    #check:checked~.burger div{
        display: none;
    }
    #check:checked~.burger{
        background:no-repeat center/100% url(cross.svg);
        width: 2.4rem;
        height: 2.4rem;
        transform: rotate(45deg);
    }
    .exp li:nth-child(1) > a{
        animation: ev3 0.7s ease-in-out both ;
    }
    .exp li:nth-child(2) > a{
        animation: senao 0.7s ease-in-out both ;
    }
    .exp li:nth-child(3) > a{
        animation: gior 0.7s ease-in-out both ;
    }
    .exp li:nth-child(4) > a{
        animation: fami 0.7s ease-in-out both ;
    }
    @keyframes ev3 {
        from{
            letter-spacing: 0;
            color: rgb(255, 255, 255);
            font-weight: 300;
        }
        to{
            letter-spacing: 0.3em;
            color: black;
            font-weight: 900;
        }
    }
    @keyframes senao {
        from{
            letter-spacing: 0;
            color: #ffffff;
            font-weight: 300;       
        }
        to{
            letter-spacing: 1px;
            color: #204887;
            font-weight: 600;
        }
    }
    @keyframes gior {
        from{
            letter-spacing: 0px;
            color: rgb(255, 255, 255);
            font-weight: 300;
        }
        to{
            letter-spacing:3px;
            color: rgba(0, 0, 0, 0.65);
            font-weight: 600;
        }
    }
    @keyframes fami {
        from{
            letter-spacing: 0px;
            color: #ffffff;
            font-weight: 300;
        }
        to{
            letter-spacing: 1px;
            color: #008bd5;
            font-weight: 600;
        }
    }
    .exp li:nth-child(1)::before{
        animation: square 0.1s ease-in-out both 0.7s;
    }
    .exp li:nth-child(1)::after{
        animation: work 0.7s ease-in-out both ;
    }
    .exp li:nth-child(2)::after{
        animation: work 0.7s ease-in-out both ;
    }
    .exp li:nth-child(3)::after{
        animation: work 0.7s ease-in-out both ;
    }
    .exp li:nth-child(4)::after{
        animation: work 0.7s ease-in-out both ;
    }
    @keyframes work {
        from{
            width: 0%;
        }
        to{
            width: 100%;
        }
    }
    @keyframes square {
        from{
            height: 0;
            display: none;
        }
        to{
            height: 0.5em;
            display: block;
        }
    }
}